* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.hero-contacto h1 {
  font-weight: bold;
}

.hero-contacto p {
  font-size: 1.2rem;
}

.hero-contacto {
  min-height: 40vh;
  background:
    linear-gradient(rgba(0, 62, 21, 0.067), rgba(255, 255, 255, 0.073)),
    url("../img/fondo-verde.png") center/cover;
  color: white;
}
footer {
  background-color: #f8f9fa;
  font-size: 0.9rem;
}

footer p {
  margin: 0;
}

footer .nav-link {
  transition: color 0.3s ease;
}

footer img {
  opacity: 0.8;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

footer img:hover {
  opacity: 1;
  transform: scale(1.05);
}
